@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/backgound.jpg) no-repeat;
  background-size: cover;
}

html {
  font-size: 16px;
}

header.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 228, 227, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  padding: 20px;
  border: none;
}

header.cabecalho h1 {
  color: rgb(15, 15, 15);
  font-family: "Merriweather", serif;
}

div.logo img {
  width: 40%;
  border-radius: 100%;
}

/* nav.menu {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
} */

nav.menu a {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  padding: 13px;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Merriweather", serif;
  color: rgb(15, 15, 15);
  font-weight: bold;
  transition-duration: 0.5s;
}

nav.menu a:hover {
  background-color: rgb(56, 167, 231);
}

main.text {
  background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50) 100%),  url(../img/capa-nova.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: #ecebeb;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

article {
  margin: 10px;
}

span {
  font-weight: bold;
}

div.title-conteiner h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
  padding: 10px;
  flex-wrap: wrap;
}

div.card {
  width: 30%;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 0.5px solid black;
  border-radius: 5px;
}

img.card-img {
  width: 350px;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

h4.title-card {
  font-family: "Merriweather", serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

p.description {
  font-family: "Merriweather", serif;
  margin-top: 10px;
  text-align: justify;
  padding: 10px;
  font-size: 0.9rem;
  text-indent: 30px;
}

section.video {
  text-align: center;
}

section.video h5 {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  margin-top: 50px;
}

iframe {
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
}

iframe:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

footer img {
  width: 20%;
}

@media (max-width: 460px) {
  header.cabecalho {
    font-size: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 250px;
    align-items: center;
  }

  div.card {
    width: 100%;
    margin-bottom: 10px;
  }

  main.text {
    font-size: 0.8rem;
    text-align: center;    
  }

  section.video h5 {
    font-size: 0.8rem;
  }

  iframe {
    width: 420px;
  }

  footer {
    flex-direction: column;
  }

  footer a {
    padding: 10px;
  }
}
